@import './Utilities/Mixins.scss'; 
@import './Utilities/Variables.scss';

.App {
    @include mq('medium') {
        @include grid(
            $gap: 20px,
            $temp-col: 1fr 1fr
        )
    }
    @include mq('large') {
        @include grid(
            $temp-col: repeat(3, 1fr)
        )
    }
}
